<h1><%= @facility.name %></h1>
<p><%= @facility.start %></p>
<p><%= @facility.number_of_floors %></p>
<p><%= @facility.ceiling_height %></p>
<p><%= @facility.underground_garage %></p>
<p><%= @facility.description %></p>
